
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col s12 l8 offset-l2">

        <div class="card horizontal z-depth-1" style="margin-top:20px">
         
            <div class="card-stacked">
                <div class="card-content">
                    <p>Love this Project? Find more on Github.</p>

                  <b>  <strong>Support:</strong><a href="mailto:da1958@checkboxtechnology.com"> da1958@checkboxtechnology.com</a><br />

                    <strong>Contact: </strong><a href="tel:9826283388">+91 9826283388</a></b>
</div>
                


            </div>
        </div>
    </div>
</div>